.site{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px,auto);
    grid-template-areas:
     "....."
      "drag"
     "canvas"
     "result"
     " footer";
}
.edit{
  position: absolute;
  top: 100px;
  left: 10px;
  display: none;
}
footer{
   grid-area: footer;
  background-color: red;
}
.drag{
   grid-area: drag;
    margin: .5rem 5px 0 5px;
}
.drag .btn-group .btn{
  padding: 1.5px .5rem 0 .5rem;
}
.canvas{
  touch-action: none;
  overflow: hidden;
   grid-area: canvas;
   height: 90vh;
   background-image: url("/electro/resources/views/templates/svg/grid.svg");
   background-color: var(--light-grey);
}
.result{
   grid-area: result;
  background-color: black;
}
@media only screen and (min-width: 500px)  {
  .site {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      grid-template-areas:
       ".....  ..... "
       "canvas canvas"
       "drag result"
       "....... footer";
  }
  }
  @media only screen and (min-width: 1000px)   {
      .site {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
         ".... .... ..... "
         "canvas canvas result"
         "canvas canvas result"
         "drag drag footer";
      }
  }
