.site{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-auto-rows: minmax(50px,auto);
    grid-template-areas:
     "nav"
     "canvas"
     "result"
     "drag"
     " footer";
}
footer{
   grid-area: footer;
  background-color: red;
}
.drag{
   grid-area: drag;
  background-color: blue;
}
.canvas{
   grid-area: canvas;
  background-color: grey;
  margin: 0 10px;

}
.result{
   grid-area: result;
  background-color: black;
}
@media only screen and (min-width: 500px)  {
  .site {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
       "nav  nav "
       "canvas result"
       "drag ......."
       "....... footer";
  }
  }
  @media only screen and (min-width: 1000px)   {
      .site {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
         "nav  nav nav "
         "canvas canvas result"
         "canvas canvas result"
         "drag drag footer";
      }
  }
