nav.navbar {
  background-color: #202124;
  padding:.3rem .5rem .3rem .3rem;
}
nav .navbar-brand {
  padding: 0;
  font-size: 1.6rem;
}
nav.navbar #navbar ul li { text-align: center; }
nav.navbar #navbar ul li:hover span { border-bottom: 1px solid #ff1818; }

nav.navbar .navbar-toggler {
  outline: none;
  border: none;
  padding-right: 0;
}

nav.navbar .hamburger {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  vertical-align: middle;
  content: "";
  background: center center / 100% 100% no-repeat;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
  nav.navbar .hamburger__patty {
    width: 100%;
    height: 2px;
    margin: 0 0 4px 0;
    background: white;
    -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
    nav.navbar .hamburger__patty:last-child {
      margin-bottom: 0;
      width: 80%;
      margin-left: 20%; }
  nav.navbar .hamburger--close {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
    nav.navbar .hamburger--close .hamburger__patty:nth-child(1) {
      -webkit-transform: rotate(45deg) translate(4px, 4px);
      -ms-transform: rotate(45deg) translate(4px, 4px);
      transform: rotate(45deg) translate(4px, 4px); }
    nav.navbar .hamburger--close .hamburger__patty:nth-child(2) {
      opacity: 0; }
    nav.navbar .hamburger--close .hamburger__patty:nth-child(3) {
      -webkit-transform: rotate(-45deg) translate(5px, -5px);
      -ms-transform: rotate(-45deg) translate(5px, -5px);
      transform: rotate(-45deg) translate(5px, -5px);
      width: 100%;
      margin-left: 0; }
